<!doctype html>
<title>Hello flask</title>
<form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="{{name}}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>
<a href="/login">go to login</a>
<form enctype="multipart/form-data" action="/upload" method="post">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
{% if name%}
<h1>Hello {{name}}!</h1>
{%else%}
<h1>Hello, world!</h1>
{%endif%}