{%extends 'base.html'%}

{%block header%}
<h1>{%block title%}Log In{%endblock%}</h1>
{%endblock%}

{%block content%}
<form method="post">
    <label for="username">username</label>
    <input name="username" id="username" required>
    <label for="password">password</label>
    <input name="password" id="password" required>
    <input type="submit" value="Log In">
</form>

<div class="oauth">
    <h2>Use OAuth</h2>
    <a class="oauth__button oauth_button_twitter" href="{{url_for('twitter.login')}}">
        <span class="oauth__link-text">
            Login with Twitter
        </span>
    </a>
    <a class="oauth__button oauth_button_github" href="{{url_for('github_login')}}">
        <span class="oauth__link-text">
            Login with GitHub
        </span>
    </a>
</div>
{%endblock%}